[variables]
NIXPACKS_NO_CACHE = "1"

[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile --prefer-offline"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start"
