[variables]
NIXPACKS_NO_CACHE = "1"

[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = ["corepack enable && pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["NODE_ENV=production pnpm run build"]

[start]
cmd = "pnpm run start"
